@import '../../../../styles/_reset.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

.sidebar {
  height: 89vh;
  padding: 20px 10px 0px 10px;
  z-index: 5;

  h3 {
    margin-bottom:20px;
  }
  p {
    margin-bottom:10px;
    font-family: $cyberFont;
    text-transform: uppercase;

    a:link, a:visited {
      color: $lightBlue;
      text-decoration: none;
    }
    a:hover {
      color: $darkBlue;
    }

    span {
      font-weight:700;
    }
  }
}
