/*
  These styles are some defaults meant for the Template.
  These are default, feel free to change them.

  I would suggest leaving the imports tho ;)
*/

@import '../styles/_reset.scss';
@import '../styles/variables.scss';
@import '../styles/fonts.scss';

body {
  background-color: $darkGrey;
}

.mainWrap {
  display:grid;
  grid-template-columns: 175px auto;
  height: auto;
  padding-top:50px;

  .mainInner {
    padding:20px;
  }
}
