/*
  These styles are some defaults meant for the Template.
  These are default, feel free to change them.

  I would suggest leaving the imports tho ;)
*/

@import '../styles/_reset.scss';
@import '../styles/variables.scss';
@import '../styles/fonts.scss';

body {
  background-color: $darkGrey;
  background-size: 75px 75px;
  background-image:
    linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
}

header {
  background-color: $headerGrey;
  padding:20px;
  text-align:center;
}
.formWrap {
  max-width: 80%;
  margin: 0 auto;
}
.mainWrap {
  height:100vh;
  max-width:80%;
  margin: 0 auto;
}
