@import '../../../../styles/_reset.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';
#mainHeader {
  background-color: $headerGrey;
  display:grid;
  grid-template-areas: "title menu";
  padding:10px;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 7px 5px rgba(48,191,242,0.36);
  box-shadow: 0px 4px 7px 5px rgba(48,191,242,0.36);
  position:fixed;
  width:100%;

  a:link, a:visited {
    text-decoration: none;
    text-transform: uppercase;
  }

  section {
    grid-area: title;
  }

  nav {
    grid-area: menu;
    margin-top:7px;
    text-align:right;

    a:link, a:visited {
      color:$lightBlue;
      font-family: $paraFont;
      font-weight: 700;
      padding: 2px 0px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
